In [14]:
import selenium
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
import requests
import re
import pandas as pd

In [5]:
#1Scrape the details of most viewed videos on YouTube from Wikipedia. Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:A) Rank B) Name C) Artist D) Upload date E) Views

driver=webdriver.Chrome()
time.sleep(2)
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

rank=[]
try:
    position=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]//tr//td[1]')
    for i in position:
        rank.append(i.text)
except NoSuchElementException:
    rank.append('-')
except StaleElementReferenceException:
    rank.append('-')
    
time.sleep(2)
name=[]
try:
    names=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]//tr//td[2]')
    for i in names:
        name.append(i.text)
except NoSuchElementException:
    name.append('No details available')
except StaleElementReferenceException:
    name.append('No details available')
    
artist=[]
try:
    ar=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]//tr//td[3]')
    for i in ar:
        artist.append(i.text)
except NoSuchElementException:
    artist.append('-')
except StaleElementReferenceException:
    artist.append('-')

upload=[]
try:
    date=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]//tr//td[5]')
    for i in date:
        upload.append(i.text)
except NoSuchElementException:
    upload.append('-')
except StaleElementReferenceException:
    upload.append('-')
    
views=[]
try:
    view=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]//tr//td[4]')
    for i in view:
        views.append(i.text)
except NoSuchElementException:
    views.append('-')
except StaleElementReferenceException:
    views.append('-')
    
df=pd.DataFrame({"Rank":rank,"Name":name,"artist":artist,"Uploaded Date":upload,"Views(in billion)":views})
df

,Rank,Name,artist,Uploaded Date,Views(in billion)
0,1.,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.36
1,2.,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.26
2,3.,"""Johny Johny Yes Papa""[16]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.80
3,4.,"""Bath Song""[17]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.41
4,5.,"""Shape of You""[18]",Ed Sheeran,"January 30, 2017",6.08
5,6.,"""See You Again""[21]",Wiz Khalifa,"April 6, 2015",6.03
6,7.,"""Wheels on the Bus""[26]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.56
7,8.,"""Phonics Song with Two Words""[27]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.48
8,9.,"""Uptown Funk""[28]",Mark Ronson,"November 19, 2014",5.03
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[29]",Miroshka TV,"February 27, 2018",4.97
10,11.,"""Gangnam Style""[30]",officialpsy,"July 15, 2012",4.90
11,12.,"""Masha and the Bear – Recipe for Disaster""[35]",Get Movies,"January 31, 2012",4.56
12,13.,"""Dame Tu Cosita""[36]",Ultra Records,"April 5, 2018",4.44
13,14.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",4.06
14,15.,"""Sugar""[38]",Maroon 5,"January 14, 2015",3.93
15,16.,"""Counting Stars""[39]",OneRepublic,"May 31, 2013",3.87
16,17.,"""Roar""[40]",Katy Perry,"September 5, 2013",3.87
17,18.,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.78
18,19.,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.73
19,20.,"""Sorry""[43]",Justin Bieber,"October 22, 2015",3.71
20,21.,"""Lakdi Ki Kathi""[44]",Jingle Toons,"June 14, 2018",3.69
21,22.,"""Thinking Out Loud""[45]",Ed Sheeran,"October 7, 2014",3.66
22,23.,"""Dark Horse""[46]",Katy Perry,"February 20, 2014",3.59
23,24.,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.55
24,25.,"""Perfect""[48]",Ed Sheeran,"November 9, 2017",3.54
25,26.,"""Faded""[49]",Alan Walker,"December 3, 2015",3.51
26,27.,"""Let Her Go""[50]",Passenger,"July 25, 2012",3.51
27,28.,"""Girls Like You""[51]",Maroon 5,"May 31, 2018",3.48
28,29.,"""Lean On""[52]",Major Lazer Official,"March 22, 2015",3.46
29,30.,"""Bailando""[53]",Enrique Iglesias,"April 11, 2014",3.45

In [15]:
#2Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.You need to find following details: A) Match title (I.e. 1 ODI) B) Series C) Place D) Date E) Time Note: - From bcci.tv home page you have reach to the international fixture page through code.
driver=webdriver.Chrome()
time.sleep(2)
url = "https://www.bcci.tv/"
driver.get(url)

In [16]:
buttonclick=driver.find_element(By.XPATH,'//*[@id="navigation"]/ul[1]/li[2]/a')
buttonclick.click()

In [17]:
for i in range(4):
     driver.find_element(By.XPATH,'//*[@id="fixtures"]/div[3]/div[2]/div/button').click()
time.sleep(4)

title=[]
try:
    match=driver.find_elements(By.XPATH,'//*[@id="match-card"]/div[3]/div/span[1]')
    for i in match:
        title.append(i.text)
except NoSuchElementException:
    title.append('-')
except StaleElementReferenceException:
    title.append('-')

series=[]
try:
    ser=driver.find_elements(By.XPATH,'//div[@class="match-card-middle__inner d-flex justify-content-between"]')
    for i in ser:
        series.append(i.text.replace('\n',' '))
except NoSuchElementException:
    series.append('-')
except StaleElementReferenceException:
    series.append('-')
    
place=[]
try:
    plac=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
    for i in plac:
        place.append(i.text)
except NoSuchElementException:
    place.append('-')
except StaleElementReferenceException:
    place.append('-')
    
dates=[]
try:
    date=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
    for i in date:
        dates.append(i.text.replace('\n',' '))
except NoSuchElementException:
    dates.append('-')
except StaleElementReferenceException:
    dates.append('-')
    
times=[]
try:
    time=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
    for i in time:
        times.append(i.text.replace('IST',''))
except NoSuchElementException:
    times.append('-')
except StaleElementReferenceException:
    times.append('-')
    
df=pd.DataFrame({"MATCHTitle":title,"MATCH SERIES":series,"PLACE":place,"DATE":dates,"TIME":times})
df

,MATCHTitle,MATCH SERIES,PLACE,DATE,TIME
0,1st ODI -,India vs Australia,Mohali,22 SEP 2023,1:30 PM
1,Semi Final 1 -,India Women vs TBD,Hangzhou,24 SEP 2023,6:30 AM
2,2nd ODI -,India vs Australia,Indore,24 SEP 2023,1:30 PM
3,3rd ODI -,India vs Australia,Rajkot,27 SEP 2023,1:30 PM
4,1st ODI -,India vs England,Guwahati,30 SEP 2023,2:00 PM
5,Quarter Final 1 -,India vs TBD,Hangzhou,3 OCT 2023,6:30 AM
6,2nd ODI -,India vs Netherlands,Thiruvananthapuram,3 OCT 2023,2:00 PM
7,1st ODI -,India vs Australia,Chennai,8 OCT 2023,2:00 PM
8,2nd ODI -,India vs Afghanistan,Delhi,11 OCT 2023,2:00 PM
9,3rd ODI -,India vs Pakistan,Ahmedabad,14 OCT 2023,2:00 PM
10,4th ODI -,India vs Bangladesh,Pune,19 OCT 2023,2:00 PM
11,5th ODI -,India vs New Zealand,Dharamsala,22 OCT 2023,2:00 PM
12,6th ODI -,India vs England,Lucknow,29 OCT 2023,2:00 PM
13,7th ODI -,India vs Sri Lanka,Mumbai,2 NOV 2023,2:00 PM
14,8th ODI -,India vs South Africa,Kolkata,5 NOV 2023,2:00 PM
15,9th ODI -,India vs Netherlands,Bengaluru,12 NOV 2023,2:00 PM
16,Youth List-A Match -,India U19 A vs Bangladesh U19,Vijayawada,13 NOV 2023,9:00 AM
17,Youth List-A Match -,India U19 B vs England U19,Vijayawada,13 NOV 2023,9:00 AM
18,Youth List-A Match -,India U19 B vs Bangladesh U19,Vijayawada,15 NOV 2023,9:00 AM
19,Youth List-A Match -,India U19 A vs England U19,Vijayawada,15 NOV 2023,9:00 AM
20,Youth List-A Match -,India U19 A vs India U19 B,Vijayawada,17 NOV 2023,9:00 AM
21,Youth List-A Match -,England U19 vs Bangladesh U19,Vijayawada,17 NOV 2023,9:00 AM
22,Youth List-A Match -,India U19 B vs England U19,Vijayawada,20 NOV 2023,9:00 AM
23,Youth List-A Match -,India U19 A vs Bangladesh U19,Vijayawada,20 NOV 2023,9:00 AM
24,Youth List-A Match -,India U19 A vs England U19,Vijayawada,22 NOV 2023,9:00 AM
25,Youth List-A Match -,India U19 B vs Bangladesh U19,Vijayawada,22 NOV 2023,9:00 AM
26,1st T20I -,India vs Australia,Visakhapatnam,23 NOV 2023,7:00 PM
27,Youth List-A Match -,England U19 vs Bangladesh U19,Vijayawada,24 NOV 2023,9:00 AM
28,Youth List-A Match -,India U19 A vs India U19 B,Vijayawada,24 NOV 2023,9:00 AM
29,2nd T20I -,India vs Australia,Thiruvananthapuram,26 NOV 2023,7:00 PM
30,3rd Place -,TBD vs TBD,Vijayawada,27 NOV 2023,9:00 AM
31,Final -,TBD vs TBD,Vijayawada,27 NOV 2023,9:00 AM
32,3rd T20I -,India vs Australia,Guwahati,28 NOV 2023,7:00 PM
33,4th T20I -,India vs Australia,Nagpur,1 DEC 2023,7:00 PM
34,5th T20I -,India vs Australia,Hyderabad,3 DEC 2023,7:00 PM
35,1st T20I -,South Africa vs India,Durban,10 DEC 2023,9:30 PM
36,2nd T20I -,South Africa vs India,Gqeberha,12 DEC 2023,9:30 PM
37,3rd T20I -,South Africa vs India,Johannesburg,14 DEC 2023,9:30 PM
38,1st ODI -,South Africa vs India,Johannesburg,17 DEC 2023,2:00 PM
39,2nd ODI -,South Africa vs India,Gqeberha,19 DEC 2023,2:00 PM
40,3rd ODI -,South Africa vs India,Paarl,21 DEC 2023,2:00 PM
41,1st Test -,South Africa vs India,Centurion,26 DEC 2023,1:30 PM
42,2nd Test -,South Africa vs India,Cape Town,3 JAN 2024,1:30 PM
43,1st T20I -,India vs Afghanistan,Mohali,11 JAN 2024,7:00 PM
44,2nd T20I -,India vs Afghanistan,Indore,14 JAN 2024,7:00 PM

In [27]:
#3Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/You have to find following details: A)Rank B) State C) GSDP(18-19)- at current prices D) GSDP(19-20)- at current prices E) Share(18-19) F) GDP($ billion) Note: - From statisticstimes home page you have to reach to economy page through code.
driver=webdriver.Chrome()
url ="http://statisticstimes.com/ "
driver.get(url)

In [28]:
buttonclick=driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/button')
buttonclick.click()

In [29]:
buttonclick1=driver.find_element(By.XPATH,'//*[@id="top"]/div[2]/div[2]/div/a[3]')
buttonclick1.click()

In [30]:
buttonclick2=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
buttonclick2.click()

In [31]:
gsdprank=[]
try:
    position=driver.find_elements(By.XPATH,'//*[@id="table_id"]//tbody/tr/td[1]')
    for i in position:
        gsdprank.append(i.text)
except NoSuchElementException:
    gsdprank.append('-')

gsdpstate=[]
try:
    state=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[2]')
    for i in state:
        gsdpstate.append(i.text)
except NoSuchElementException:
    gsdpstate.append('-')
except StaleElementReferenceException:
    gsdpstate.append('-')

priceGSDP=[]
try:
    price=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[4]')
    for i in price:
        priceGSDP.append(i.text)
except NoSuchElementException:
    priceGSDP.append('-')
except StaleElementReferenceException:
    priceGSDP.append('-')

priceGSDP19=[]
try:
    price1=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[3]')
    for i in price1:
        priceGSDP19.append(i.text)
except NoSuchElementException:
    priceGSDP19.append('-')
except StaleElementReferenceException:
    priceGSDP19.append('-')

share=[]
try:
    sh=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[5]')
    for i in sh:
        share.append(i.text)
except NoSuchElementException:
    share.append('-')
except StaleElementReferenceException:
    share.append('-')
    
GDPbillion=[]
try:
    bill=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[6]')
    for i in bill:
        GDPbillion.append(i.text)
except NoSuchElementException:
    GDPbillion.append('-')
except StaleElementReferenceException:
    GDPbillion.append('-')
    
df=pd.DataFrame({"RANK":gsdprank,
                 "STATE":gsdpstate,"GSDPCURRENTPRICE(18-19)":priceGSDP,
                 "GSDPCURRENTPRICE(19-20)":priceGSDP19,"SHARE":share,
                 "GSDP(IN BILLIONS)":GDPbillion})
df

,RANK,STATE,GSDPCURRENTPRICE(18-19),GSDPCURRENTPRICE(19-20),SHARE,GSDP(IN BILLIONS)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,Tamil Nadu,"1,630,208","1,845,853",8.63%,247.629
2,3,Uttar Pradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,West Bengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,Andhra Pradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,Madhya Pradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu & Kashmir,"155,956",-,0.83%,23.690
21,22,Himachal Pradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,Arunachal Pradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [32]:
#4Scrape the details of trending repositories on Github.com. Url = https://github.com/You have to find the following details: A) Repository title B) Repository description C) Contributors count D) Language used

driver=webdriver.Chrome()
url =" https://github.com/"
driver.get(url)

open_source = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button")
open_source.click()
trending = driver.find_element(By.XPATH,"//html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a")
trending.click()

In [33]:
repo_urls = []
rep_title = []
Contributors = []
Language = []

for i in repo_urls:
    driver.get(i)
    time.sleep(3)
    
rep_title=[]
try:
    title = driver.find_elements(By.XPATH,'//a[@class="Link"]')
    for i in title:
        rep_title.append(i.text)
except NoSuchElementException:
    rep_title.append('-')

Description = []
try:
    desc = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    for i in desc:
        Description.append(i.text)
except NoSuchElementException:
    Description.append('-')

Language=[]
try:
    cont_tags = driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
    for i in cont_tags:
        Language.append(i.text)
except NoSuchElementException:
    Language.append('-')
    
df=pd.DataFrame({'rep_title':rep_title[:22],'Description':Description[:22],'Language':Language[:22]})
df

,rep_title,Description,Language
0,opentofu / opentofu,OpenTofu lets you declaratively manage your cl...,Go
1,ProjectUnifree / unifree,[SIGGRAPH Asia 2023] Rerender A Video: Zero-Sh...,Python
2,williamyang1991 / Rerender_A_Video,PowerShell for every system!,Jupyter Notebook
3,PowerShell / PowerShell,Clone a voice in 5 seconds to generate arbitra...,C#
4,CorentinJ / Real-Time-Voice-Cloning,"Your self-hosted, globally interconnected micr...",Python
5,mastodon / mastodon,Code and models for NExT-GPT: Any-to-Any Multi...,Ruby
6,NExT-GPT / NExT-GPT,"The paper list of the 86-page paper ""The Rise ...",Python
7,WooooDyy / LLM-Agent-Paper-List,Public repo for my latest and greatest cogniti...,Python
8,daveshap / ACE_Framework,🐸💬 - a deep learning toolkit for Text-to-Speec...,TypeScript
9,coqui-ai / TTS,"🔥 🔥 🔥 Open Source JIRA, Linear and Height Alte...",JavaScript
10,makeplane / plane,Most modern mobile touch slider with hardware ...,Ruby
11,nolimits4web / swiper,Deploy web apps anywhere.,Python
12,basecamp / kamal,[ICCV 2023] ProPainter: Improving Propagation ...,JavaScript
13,sczhou / ProPainter,互联网首份程序员考公指南，由3位已经进入体制内的前大厂程序员联合献上。,Go
14,coder2gwy / coder2gwy,The React Framework,Go
15,vercel / next.js,"Meshery, the cloud native manager",Python
16,meshery / meshery,"A privacy-first, lightweight note-taking servi...",PHP
17,usememos / memos,An Open-source Framework for Autonomous Langua...,TypeScript
18,aiwaves-cn / agents,Archives of the criminal side of the internet,C++
19,D4RK-R4BB1T / Dark-Web-Archives,"Resolve production issues, fast. An open sourc...",HTML
20,hyperdxio / hyperdx,A modern formatting library,Python
21,fmtlib / fmt,"A list of SaaS, PaaS and IaaS offerings that h...",Python

In [39]:
#5Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/You have to find the following details: A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board Note: - From the home page you have to click on the charts option then hot 100-page link through code.

driver=webdriver.Chrome()

url = "https://www.billboard.com/"
driver.get(url)

In [40]:
urls = driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div/div/div/ul/li[1]/ul/li[2]/a")
page_url = urls.get_attribute("href")
driver.get(page_url)

In [41]:
name = []
artist = []
Lastweekrank = []
peakrank = []
Weeks = []

for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//ul//li//h3'):
    name.append(i.text)

for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//ul//li[1]//span'):
    artist.append(i.text)

for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//ul//li[3]//span'):
    Lastweekrank.append(i.text)

for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]/span[1]'):
    peakrank.append(i.text)

for i in driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]/span[1]'):
    Weeks.append(i.text)


df=pd.DataFrame({"name":name, "artist":artist, 'Lastweekrank':Lastweekrank,'peakrank':peakrank,'Weeks':Weeks})
df

,name,artist,Lastweekrank,peakrank,Weeks
0,Vampire,Olivia Rodrigo,,1,11
1,Paint The Town Red,Doja Cat,,1,6
2,I Remember Everything,Zach Bryan Featuring Kacey Musgraves,,1,3
3,Fast Car,Luke Combs,,2,25
4,Cruel Summer,Taylor Swift,,3,19
...,...,...,...,...,...
95,Lagunas,Peso Pluma & Jasiel Nunez,,77,9
96,Sittin' On Top Of The World,Burna Boy,,80,3
97,Rubicon,Peso Pluma,,63,11
98,TQM,Fuerza Regida,,34,17
99,Amargura,Karol G,,85,5

In [43]:
#6Scrape the details of Highest selling novels. compare A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

driver=webdriver.Chrome()

url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
driver.get(url)

In [44]:
bookname=[]
try:
    book=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//td[2]')
    for i in book:
        bookname.append(i.text)
except NoSuchElementException:
    bookname.append('-')
except StaleElementReferenceException:
    bookname.append('-')
    
authorname=[]
try:
    author=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//td[3]')
    for i in author:
        authorname.append(i.text)
except NoSuchElementException:
    authorname.append('-')
except StaleElementReferenceException:
    authorname.append('-')
    
volumesold=[]
try:
    volume=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//td[4]')
    for i in volume:
        volumesold.append(i.text)
except NoSuchElementException:
    volumesold.append('-')
except StaleElementReferenceException:
    volumesold.append('-')
    
publisher=[]
try:
    pub=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//td[5]')
    for i in pub:
        publisher.append(i.text)
except NoSuchElementException:
    publisher.append('-')
except StaleElementReferenceException:
    publisher.append('-')
    
genre=[]
try:
    gen=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]//td[6]')
    for i in gen:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('-')
except StaleElementReferenceException:
    genre.append('-')

df=pd.DataFrame({"BookName":bookname, "AuthorName":authorname, 'Volumesold':volumesold,'Publisher':publisher,'Genre':genre})
df

,BookName,AuthorName,Volumesold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [46]:
#7Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

driver=webdriver.Chrome()

url ="https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [47]:
Name=[]
try:
    Ser=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]//a')
    for i in Ser:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')
except StaleElementReferenceException:
    Name.append('-')
    
Year=[]
try:
    Span=driver.find_elements(By.XPATH,'//SPAN[@class="lister-item-year text-muted unbold"]')
    for i in Span:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('-')
except StaleElementReferenceException:
    Year.append('-')
    
genre=[]
try:
    g=driver.find_elements(By.XPATH,'//span[@class="genre"]')
    for i in g:
        genre.append(i.text)
except NoSuchElementException:
    genre.append('-')
except StaleElementReferenceException:
    genre.append('-')
    
runtime=[]
try:
    run=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
    for i in run:
        runtime.append(i.text)
except NoSuchElementException:
    runtime.append('-')
except StaleElementReferenceException:
    runtime.append('-')
    
ratings=[]
try:
    ra=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]/div/div/span[2]')
    for i in ra:
        ratings.append(i.text)
except NoSuchElementException:
    ratings.append('-')
except StaleElementReferenceException:
    ratings.append('-')

votes=[]
try:
    vo=driver.find_elements(By.XPATH,'//div[@class="lister-item-content"]//p[4]//span[2]')
    for i in vo:
        votes.append(i.text)
except NoSuchElementException:
    votes.append('-')
except StaleElementReferenceException:
    votes.append('-')
    
df=pd.DataFrame({'Name':Name,'Year':Year,'Run Time':runtime,'Genre':genre,'Rating':ratings,'Votes':votes})
df

,Name,Year,Run Time,Genre,Rating,Votes
0,Game of Thrones,(2011–2019),57 min,"Action, Adventure, Drama",9.2,"2,205,390"
1,Stranger Things,(2016–2025),51 min,"Drama, Fantasy, Horror",8.7,"1,276,721"
2,The Walking Dead,(2010–2022),44 min,"Drama, Horror, Thriller",8.1,"1,046,405"
3,13 Reasons Why,(2017–2020),60 min,"Drama, Mystery, Thriller",7.5,"307,542"
4,The 100,(2014–2020),43 min,"Drama, Mystery, Sci-Fi",7.6,"266,632"
...,...,...,...,...,...,...
95,Reign,(2013–2017),42 min,Drama,7.5,"52,759"
96,A Series of Unfortunate Events,(2017–2019),50 min,"Adventure, Comedy, Drama",7.8,"64,815"
97,Criminal Minds,(2005– ),42 min,"Crime, Drama, Mystery",8.1,"211,137"
98,Scream: The TV Series,(2015–2019),45 min,"Comedy, Crime, Drama",7,"43,927"
99,The Haunting of Hill House,(2018),572 min,"Drama, Horror, Mystery",8.6,"266,285"

In [55]:
#8Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/You have to find the following details: A) Dataset nameB) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year Note: - from the home page you have to go to the Show All Dataset page through code.

driver=webdriver.Chrome()

url ="https://archive.ics.uci.edu/"
driver.get(url)

In [56]:
show=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]")
show.click()

In [57]:
expand=driver.find_element(By.XPATH,"/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]/span[2]")
expand.click()

In [58]:
name=[]
try:
    for i in range(0,3):
        names=driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]')
    for i in names:
        name.append(i.text)
except NoSuchElementException:
    name.append('No details available')
   
    
year=[]
try:
    info=driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]//tbody//tr//td[3]')
    for i in info:
         year.append(i.text)
except NoSuchElementException:
    year.append("NA")


no_of_attributes=[]
try:
    info=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]//div[4]')
    for i in info:
         no_of_attributes.append(i.text)
except NoSuchElementException:
    no_of_attributes.append("NA")


no_of_instances=[]
try:
    info=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]//div[3]//span')
    for i in info:
         no_of_instances.append(i.text)
except NoSuchElementException:
    no_of_instances.append("NA")


attr_type=[]
try:
    info=driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]//tbody//tr//td[2]')
    for i in info:
         attr_type.append(i.text)
except NoSuchElementException:
    attr_type.append("NA")


default_task=[]
try:
    info=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]//div[1]//span')
    for i in info:
        default_task.append(i.text)
except NoSuchElementException:
    default_task.append("NA")


data_type=[]
try:
    info=driver.find_elements(By.XPATH,'//div[@class="my-2 hidden gap-4 md:grid grid-cols-12"]//div[2]//span')
    for i in info:
         data_type.append(i.text)
except NoSuchElementException:
    data_type.append("NA")


df=pd.DataFrame({'Dataset name':name,'Data type':
                 data_type,'Task':default_task,'Attributetype':attr_type,'No of instance':no_of_instances,
                 'No of attribute':no_of_attributes,'Year':year })
df

,Dataset name,Data type,Task,Attributetype,No of instance,No of attribute,Year
0,Iris,Tabular,Classification,Real,150 Instances,4 Features,7/1/1988
1,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303 Instances,13 Features,7/1/1988
2,Adult,Multivariate,Classification,"Categorical, Integer",48.84K Instances,14 Features,5/1/1996
3,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13.61K Instances,16 Features,9/14/2020
4,Diabetes,,,"Categorical, Integer",,20 Features,N/A
5,Wine,Tabular,Classification,"Integer, Real",178 Instances,13 Features,7/1/1991
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569 Instances,30 Features,11/1/1995
7,Car Evaluation,Multivariate,Classification,Categorical,1.73K Instances,6 Features,6/1/1997
8,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3.81K Instances,8 Features,10/6/2019
9,Mushroom,Multivariate,Classification,Categorical,8.12K Instances,22 Features,4/27/1987